/*@font-face{
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: local("Montserrat"), url(/src/Montserrat-VariableFont_wght.woff) format("woff");
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    min-height: 100vh;
    max-width:1440px;
    overflow-x: hidden;
    font-family: "Montserrat";
    margin: auto;
}

li{
    list-style-type: none;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Navblock{
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.Navblock a{
    font-size: xx-large;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.NavBar{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.NavBar>a:hover{
    text-decoration: underline;
}

.footer{
    width: 1440px;
    background-color: black;
    box-sizing: border-box;
    margin-top: auto;
    
}

.footerwebp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}

.footerimg{
    max-width: 300px;
    max-height: 50px;
}

/* Home specific css */ 

.Guts{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-size: small;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.homebanner{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 230px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 900;
    font-size: x-large;
    box-shadow: 0px 3px 0.3rem #C4C4C4;
    color:white;
}

.darken {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    background-position: center;
}

.CardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #F6F6F6;
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: center;
    gap: 40px;
    padding: 32px 0px 32px 0px;
    cursor: pointer;
    font-size: medium;
}

.Cards{
    position: relative;
    width: 30%;
    max-height: 340px;
    box-sizing: border-box;
    border-radius: 10px;
    object-fit: cover;
}

.Cards::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  inset: 0;

  background: linear-gradient(
    transparent 50%,
    rgba(0,0,0,0.9) 100%
  );
}

.Cards h2{
    position: absolute;
    z-index: 3;
    left: 20px;
    bottom: 0;
    color: white;
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}   

.CardsPics{
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    z-index: 1;
}

/* Home specific css ends (needs phone version now) */ 

/* collapse specific css */

.CollapseBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    width: 1024px;
}

.CollapseBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6C5C;
    min-height: 50px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: white;
    font-size: large;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 15px;
    padding-left: 15px;
}

.LargeC{
    width: 100%;
}

.MediumC{
    width:100%;
}

.LXC{
    width: 50%;
}

.CollapseBtn img{
    display: block;
    object-fit: contain;
    width: 32px;
    height: 32px;
    padding-right: 15px;
}

.arrow {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.arrow.open{
    transform: translate(-30%) rotate(180deg);
}

.CollapseCtn{
    background-color: #FBFBFB;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 1023px;
    padding: 15px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 10px;
}

/* collapse specific css ends */ 

/* carousel sepcific css */ 

.Carousel{
    position: relative;
    box-sizing: border-box;
    height: 700px;
}

.CarouselImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.CarouselBtn{
    position: absolute;
    top: 38%;
    background: none;
    border: none;
    transition: all 0.25s;
}

.CarouselBtn:hover{
    transform: scale(1.2);
}

.Prev{
    left: 15px;
}

.Next{
    right: 25px;
}

.PicturesIndex{
    position: relative;
    left: 50%;
    bottom: 10%;
    font-weight: 300;
    font-size: large;
    color: white;
}

/* carousel sepcific css ends */ 

/* Tags specific css */ 

.LogementXAttributes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TagsBlock{
    box-sizing: border-box;
}

.TagsTitle{
    color: #FF6C5C;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

.TagsLoctn{
    font-size: large;
    font-weight: 600;
}

.Taglist{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Tags{
    color: white;
    background-color: #FF6C5C;
    font-size: medium;
    font-weight: 600;
    margin: 0;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.HostInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
}

.Hostname{
    color: #FF6C5C;
    font-size: large;
    font-weight: 500;
}

.Hostpic{
    border-radius: 75px;
}

.LogementXCollapseBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

/* Tags specific css ends */ 

/* 404 css */

.guts404{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.pic404{
    height: 265px;
    width: 600px;
}

.text404box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text404{
    color: #FF6C5C;
    font-size: xx-large;
    font-weight: 500;
    padding-bottom: 175px;
}

.B2Home{
    color: black;
    font-size: x-large;
    font-weight: 500;
}

/* 404 css ends */ 

